replicaCount: 1

image:
  repository: m-time-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi